body 
{
    background-color: #FFE6E6;
    font-family: Calibri, sans-serif;
    margin: 0px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav
{
    background-color: #7469B6;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1
{
    color: #FFFFFF;
    background-color: #AD88C6;
    padding: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    transition: 500ms;
}

h1:hover 
{
    box-shadow: #AD88C6 0px 1px 50px 0px;
    text-shadow: white 0px 2px 50px;
    font-size: xx-large;
}

#returnToRedirectionButton, #orders, #tickets, #resetData
{
    color: #FFFFFF;
    background-color: #AD88C6;
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    transition: 500ms;
}

#resetData
{
    color: #FF0000;
}

#orders
{
    box-shadow: #AD88C6 0px 1px 50px 0px;
    text-shadow: white 0px 2px 50px;
}

#returnToRedirectionButton:hover, #orders:hover, #tickets:hover, #resetData:hover
{
    box-shadow: #AD88C6 0px 1px 50px 0px;
    text-shadow: white 0px 2px 50px;
    font-size: xx-large;
}

#resetData:hover
{
    text-shadow: #FF0000 0px 2px 50px;
}

.order-item 
{
    background-color: #AD88C6;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    font-weight: bolder;
    color: #FFFFFF;
    transition: 500ms;
}

.order-item:hover 
{
    box-shadow: #AD88C6 0px 1px 50px 0px;
}

.order-item-info 
{
    margin: 5px;
}

#nothing
{
    background-color: #AD88C6;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    font-weight: bolder;
    color: #FFFFFF;
    transition: 500ms;
}

#nothing:hover
{
    box-shadow: #AD88C6 0px 1px 30px 0px;
}

footer
{
    background-color: #7469B6;
    padding: 20px;
    margin-top: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials:nth-child(1)
{
    color: #FFFFFF;
    background-color: #AD88C6;

    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;

    border: none;
    border-radius: 10px;

    font-weight: bolder;

    transition: 500ms;  
}

.socials:nth-child(1):hover
{
    box-shadow: #AD88C6 0px 1px 50px 0px;
    text-shadow: #FF0000 0px 2px 50px;
    font-size: xx-large;
}

.socials:nth-child(2)
{
    color: #FFFFFF;
    background-color: #AD88C6;

    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;

    border: none;
    border-radius: 10px;

    font-weight: bolder;

    transition: 500ms;  
}

.socials:nth-child(2):hover
{
    box-shadow: #AD88C6 0px 1px 50px 0px;
    text-shadow: #000000 0px 2px 50px;
    font-size: xx-large;
}

.socials:nth-child(3)
{
    color: #FFFFFF;
    background-color: #AD88C6;

    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;

    border: none;
    border-radius: 10px;

    font-weight: bolder;

    transition: 500ms;  
}

.socials:nth-child(3):hover
{
    box-shadow: #AD88C6 0px 1px 50px 0px;
    text-shadow: #0866ff 0px 2px 50px;
    font-size: xx-large;
}

.socials:nth-child(4)
{
    color: #FFFFFF;
    background-color: #AD88C6;

    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;

    border: none;
    border-radius: 10px;

    font-weight: bolder;

    transition: 500ms;  
}

.socials:nth-child(4):hover
{
    box-shadow: #AD88C6 0px 1px 50px 0px;
    text-shadow: #E1306C 0px 2px 50px;
    font-size: xx-large;
}

.socials:nth-child(5)
{
    color: #FFFFFF;
    background-color: #AD88C6;

    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;

    border: none;
    border-radius: 10px;

    font-weight: bolder;

    transition: 500ms;  
}

.socials:nth-child(5):hover
{
    box-shadow: #AD88C6 0px 1px 50px 0px;
    text-shadow: #ff0050 0px 2px 50px;
    font-size: xx-large;
}

#footerInformation
{
    color: #FFFFFF;
    background-color: #AD88C6;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    text-align: end;
    transition: 500ms; 
}

.footerInformationSections
{
    margin: 10px;
}

